 .showcase {

    background-image: 
    url("https://images.unsplash.com/photo-1582079768266-e65af1ad8d3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    
    background-size: cover;
    background-position: center;
    width:100%;
   
    
  }
  
  .showcase .overlay {
   
    height: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
    width: 100%;
  }
  
  .input-text {
    color: black;
    width: 80rem;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    border:none;
    outline: none;
    
  }
  .input-text:hover {
    outline: none;
  }
  .input-text:active {
    outline:none;
  }

  
  .form {
    max-width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 2rem;
  }

  a {
    text-decoration: underline;
  } 

  .card {
      margin-left: 3rem;
      margin-top: 5rem;
  }

  .grid {
    display: grid;
    
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    
    padding: 1rem;
  }

  @media (max-width: 1050px) {
    .grid {
     grid-template-columns: repeat(2, 1fr);
    }
    .form {
      width: 50rem;
    }
 }
 

  @media (max-width: 750px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .form {
      width: 35rem;
    }
    .input-text {
      width: 32rem;
    }
  }

 