.card-container {
    max-width: 50rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
   
    
}
img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    font-size: 1.7rem;
    
}
.button {
    background-color: #90e0ef;
    padding: 1rem;
    max-width: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    display: block;
    text-decoration: none;
}

a:hover {
    background-color: white;
}

.card-header {
    font-size: 2rem;
    font-weight: 700;
}