.event-container {
    width: 70rem;
    background-color: #fffafb;
    border-radius: 5px;
    height: 30rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.event-container:hover {
    transform: scale(1.005);
    box-shadow: 0  3.5rem 3rem rgba(124, 124, 124, 0.3); 
    transition: 0.7s;
}
.event-title {
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 1rem;
}
.event-text {
    padding: 2rem;
}

.bezirk {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.event-date {
    margin-bottom: 1rem;
}
.event-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #B9484E;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.event-btn:hover {
    background-color: #35342F;
}