.weather-card {
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  
}

.weather-card-text {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 2.5rem;
    background-color: rgba(236, 234, 234, 0.4);
    height: 50rem;
    width: 30rem;
    margin: 2rem;
    padding: 4rem;
    border-radius: 1.5rem; 
}

.weather-card-text h1 {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.weather-card-text > * {
    padding-top: 1rem;
    color: black;
}
.weather-search {
  width: 30rem;
  border-radius: 1.5rem;
  padding: 1rem;
  color: black;
}

.w-logo {
    width: 10rem;
}
