

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  background-color: #f8f9fa;
}

.showcase {

  background-image: linear-gradient(
    rgba(53, 53, 53, 0.8),
    rgba(92, 92, 92, 0.8)
  ),
  url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");

  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  


}

.showcase .overlay {
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
}

.input-text {
  color: black;
}
.form {
  max-width: 20rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
a {
  text-decoration: underline;
}