@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Quicksand&family=Raleway:wght@100;200&family=Zen+Kaku+Gothic+New:wght@300&display=swap");

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  background-color: white;
  font-family: "Arial";
}

.btn {
  border-radius: 1rem;
  margin-left: 1rem;
  padding: 1rem 2rem;
  background-color: #4a4e69;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: #9a8c98;
}
.btn:active {
  transform: translate(-1px, 1px);
}

@media (max-width: 500px) {
  .input-text {
    font-size: 1.2rem;
    width: 50rem;
  }
  .text-center {
    font-size: 2rem;
  }
  .card-container {
   width: 26rem;
   margin: 0;
    
  }
  .showcase {
    width:100%;
  }

}



.weather-background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
 

}

.w-overlay {
  
  z-index: 100;
  position:absolute;
  width: 40rem;
  background-color: rgba(236, 231, 231, 0.2);
  width: 40rem;
  height: 50rem;
  display:flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5rem;
  align-items: center;
  border-radius: 1rem;
  color: white;
  


}

.w-h1 {
  font-size: 4rem;
  color: white;
  font-weight: 700;

}