@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300&family=Montserrat:wght@100;200;300&family=Open+Sans:wght@300&family=Quicksand&family=Raleway:wght@100;200;400&family=Zen+Kaku+Gothic+New:wght@300&display=swap');

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  background-color: white;
  font-family: "Montserrat";
}

.btn {
  border-radius: 1rem;
  margin-left: 1rem;
  padding: 1rem 2rem;
  background-color: #4a4e69;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: #9a8c98;
}
.btn:active {
  transform: translate(-1px, 1px);
}

@media (max-width: 500px) {
  .input-text {
    font-size: 1.2rem;
    width: 50rem;
  }
  .text-center {
    font-size: 2rem;
  }
  .card-container {
   width: 26rem;
   margin: 0;
    
  }
  .showcase {
    width:100%;
  }

}



.video-wrapper {
  
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video1 {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
